pandas==2.2.1
numpy==1.26.4
matplotlib==3.8.0
xarray==2023.6.0
noaa_ftp==0.1.11
pythia-datasets
netcdf4==1.6.4
cartopy==0.22.0
geoviews==1.10.1
scipy==1.11.2
nc-time-axis==1.2.0
cftime==1.6.3